.PostPage {
    padding-top: 35px;
    
}

.PostPage_comment {
    border-top: 2px solid black;
}

.PostPage_comment-list {
    border: 2px solid black;
    border-radius: 5px;
}

.PostPage_content {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}