.PostPage {
    padding-top: 25px;
    box-shadow: 5px 5px 50px 10px #000000;
}

.PostPage h2 {
    padding: 25px;
    background: rgb(243, 199, 141)
}

.BackBtn {
    font-family: 'Keania One', cursive;
    margin-left: 15px;
    font-size: 16px;
    background: rgb(136, 162, 201);
    padding: 10px;
}

.BackBtn:link {
    color: white;
}

.BackBtn a:visited {
    color: white;
}

.BackBtn a:active {
    color: white;
}

.BackBtn a:hover {
    color: black;
}

.Post_delete {
    border: 2px solid black;
    margin-bottom: 15px;
    background: rgb(241, 32, 32);
    margin-left: 15px;
    font-size: 14px;
    color: white;
    font-family: 'Keania One', cursive;
}

.Post_delete a:active {
    color: white;
}

.Post_delete a:visited {
    color: white;
}

.Post_delete a:link {
    color: white;
}

.Post_delete a:hover {
    color: black;
}

.PostPage_comment {
    border-bottom: 2px solid black;
}

.PostPage_comment-list {
    list-style: none;
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(to right, white , rgb(136, 162, 201));
}

.Postpage_comment-user {
    font-size: 16px;
    color: black;
}

.comments-header {
    border-bottom: 2px solid black;
    background: rgb(243, 199, 141);
    font-size: 20px;
}

.PostPage_comment-text {
    font-size: 18px;
    color: black;
}

.PostPage_content {
    border: 2px solid black;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    background: linear-gradient(to right, white , rgb(136, 162, 201));
}

@media only screen and (min-width: 760px) {
    .PostPage {
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-radius: 5px;
        border-top: 2px solid black;
    }
}