h1 {
    padding-top: -20px;
}

.top-header {
    padding-top: 50px;
    padding-bottom: 10px;
}

.link-buttons {
    text-align: right;
}

.changable-link {
    margin-top: 5px;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    
}


a:link {
    text-decoration: none;
    color: rgb(243, 199, 141)
}

a:active {
    color: rgb(243, 199, 141)
}


nav a:hover {
    color: black;
}

nav a:visited {
    color: rgb(243, 199, 141);
}

.icon {
    text-align: left;
}

.main-link {
    float: left;
    font-size: 34px;
}

nav {
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    padding-right: 15px;
    background: rgb(128, 134, 221);
    box-shadow: 2px 1px 10px 10px rgba(0, 0, 0, 0.781);
}