.new-post {
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    font-size: 20px;
    font-family: 'Keania One', cursive;
}


input {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.create-input {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.desc-label .Textarea {
    background: white;
}

.desc-label input {
    padding-bottom: 40px;
}

.new-post h2 {
    background: linear-gradient(to right, rgb(240, 208, 167),  rgb(240, 152, 38));
    font-size: 26px;
}

input {
    font-family: 'Shanti', sans-serif
}

.post-btn {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(243, 199, 141);
    border: 2px solid rgb(243, 199, 141);
    box-shadow: 0px 5px 10px 2px #000000;
    font-family: 'Keania One', cursive;
}

.post-btn:hover {
    background-color:rgb(136, 162, 201);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
     transition: background-color 2s ease-out;
}

@media only screen and (min-width: 760px) {
    .create-input {
        font-size: 20px;
    }

    .new-post h2 {
        font-size: 30px;
    }

    Textarea {
        font-size: 16px;
    }
}