@import url('https://fonts.googleapis.com/css?family=Audiowide|Keania+One|Shanti&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 34px;
  font-family: 'Audiowide', cursive;
}

p {
  font-family: 'Shanti', sans-serif;
}

form {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

