.PostListItem_details {
    border: 2px solid rgb(136, 162, 201);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
    background:rgb(136, 162, 201);
    box-shadow: 0px 5px 5px 2px #00000073;
}

.PostListItem {
    font-family: 'Keania One', cursive;
    color: rgb(245, 219, 164);
}

.PostListItem:link {
    color: rgb(245, 219, 164);
}

.PostListItem:hover {
    color: orange;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
     transition: color 2s ease-out;
}